.shapes {
    display: flex;
    flex-wrap: wrap;
}

.shapes__wrapper {
}

$shape-dimension: 30px;

$transition-time: 0.15s;

.shape__wrapper {
    // padding: 0.25vw;
}

.shape {
    width: $shape-dimension;
    height: $shape-dimension;
    line-height: $shape-dimension;
    // border-radius: 50%;
    background-color: aqua;
    text-align: center;
    color: transparent;
    border: solid 1px;
    padding: 0;
    display: block;
    transition: background-color $transition-time linear,
        transform $transition-time linear;

    &:hover {
        // transform: scale(1.3);
        transition: background-color $transition-time linear,
            transform $transition-time linear;
        border-color: white !important;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 3px rgba(255, 99, 71, 0.3);
    }

    &:active {
        box-shadow: 0 0 20px rgba(255, 99, 71, 0.6);
    }
}
